.fulltime {
  padding: 28px;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
}

.fulltime-details {
  padding-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.fulltime-company-name,
.role-at-fulltime,
.fulltime-duration {
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 37px;
}

.fulltime-company-name {
  font-weight: bold;
}

@media screen and (max-width: 1150px) {
  .fulltime {
    padding: 20px;
  }

  .fulltime-details {
    padding: 20px;
  }

  .fulltime-company-name,
  .role-at-fulltime,
  .fulltime-duration {
    font-size: 28px;
  }
}

@media screen and (max-width: 950px) {
  .fulltime {
    padding: 16px;
    border-radius: 10px;
  }

  .fulltime-company-logo {
    width: 112px;
    height: 112px;
  }

  .fulltime-company-name,
  .role-at-fulltime,
  .fulltime-duration {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 750px) {
  .fulltime {
    border-radius: 8px;
  }

  .fulltime-company-logo {
    width: 92px;
    height: 92px;
  }

  .fulltime-company-name,
  .role-at-fulltime,
  .fulltime-duration {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .fulltime-company-logo {
    width: 82px;
    height: 82px;
  }

  .fulltime-details {
    padding: 10px;
  }
}

@media screen and (max-width: 350px) {
  .fulltime {
    padding: 12px;
  }

  .fulltime-company-logo {
    width: 62px;
    height: 62px;
  }

  .fulltime-company-name,
  .role-at-fulltime,
  .fulltime-duration {
    line-height: 18px;
    font-size: 14px;
  }
}
