.fulltime {
  /* padding: 20px; */
  /* margin-top: 40px; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fulltime-details {
  padding: 36px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
}

.fulltime-company-name {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  /* line-height: 37px; */
  /* color: #217c9d; */
}

.role-at-fulltime,
.fulltime-duration {
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  /* line-height: 37px; */
  /* color: #000000; */
}

.fulltime-item-dividor {
  height: 1px;
  background-color: #928b8b;
  border: 0;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  .fulltime-company-name {
    font-size: 34px;
  }

  .fulltime-details {
    padding: 32px;
  }

  .role-at-fulltime,
  .fulltime-duration {
    font-size: 28px;
  }
}

@media screen and (max-width: 950px) {
  .fulltime-company-name {
    font-size: 30px;
  }

  .fulltime-details {
    padding: 30px;
  }

  .role-at-fulltime,
  .fulltime-duration {
    font-size: 26px;
  }
}

@media screen and (max-width: 750px) {
  .fulltime-company-name {
    font-size: 26px;
  }

  .fulltime-details {
    border-radius: 28px;
    padding: 26px;
  }

  .role-at-fulltime,
  .fulltime-duration {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .fulltime-company-name {
    font-size: 20px;
  }

  .fulltime-details {
    border-radius: 26px;
    padding: 24px;
  }

  .role-at-fulltime,
  .fulltime-duration {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .fulltime-company-name {
    font-size: 18px;
  }

  .fulltime-details {
    border-radius: 18px;
    padding: 20px;
  }

  .role-at-fulltime,
  .fulltime-duration {
    font-size: 14px;
  }
}
