#footer-signature {
  /* padding: 2.4vw 2.4vw 0 2.4vw; */
  align-items: center;
  text-align: bottom;
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  line-height: 33px;
  letter-spacing: 0.18em;
  font-family: Courgette;
  color: #fff;
}

#footer-signature span a {
  text-decoration: none;
  font-weight: 300;
  font-family: Courgette;
  color: #fff;
}

#footer-signature span a:hover {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
  transition: 0.2s;
  /* color: #7c0404; */
}

@media screen and (max-width: 950px) {
  #footer-signature {
    /* padding: 3vw 3vw 0px 3vw; */
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 750px) {
  #footer-signature {
    /* padding: 3vw 3vw 0px 3vw; */
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 550px) {
  #footer-signature {
    /* padding: 3vw 3vw 0px 3vw; */
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 480px) {
  #footer-signature {
    margin-top: 0.6vw;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  #footer-signature {
    margin-top: 2vw;
    font-size: 10px;
  }
}
