#footer-social-links {
  /* width: 100%; */
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 1.2vw; */
}

#logo_spacer {
  width: 60px;
}

#footer-social-links img {
  width: 30px;
  height: 30px;
  /* padding: 0 20px; */
  /* opacity: 0.6; */
}

#footer-social-links img:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 950px) {
  #footer-social-links {
    /* margin-top: 3vw; */
  }

  #footer-social-links a img {
    height: 28px;
    width: 28px;
  }
}

@media screen and (max-width: 750px) {
  #footer-social-links {
    /* margin-top: 2vw; */
  }

  #footer-social-links a img {
    height: 24px;
    width: 24px;
  }

  #logo_spacer {
    width: 40px;
  }
}

@media screen and (max-width: 550px) {
  #footer-social-links {
    /* margin-top: 2vw; */
  }

  #footer-social-links a img {
    width: 20px;
    height: 20px;
  }

  #logo_spacer {
    width: 32px;
  }
}

@media screen and (max-width: 480px) {
  #footer-social-links {
    margin-bottom: 0.6vw;
  }
}

@media screen and (max-width: 350px) {
  #footer-social-links {
    margin-bottom: 1vw;
  }
}
