#footer {
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 1.2vw 0vw 1.2vw 0vw;
  padding: 40px;
  /* padding: 2.4vw; */
  height: 200px;
  background-color: #000;
}

#row1 {
  font-family: Courgette;
  color: #fff;
  font-size: 24px;
  padding: 1.2vw 0 0.6vw 0;
  letter-spacing: 0.18em;
}

#row2 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6vw 0 1.2vw 0;
}

/* hr {
  height: 1px;
  background-color: #a3a3a3;
  border: 0;
} */
