.certification {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: 1px solid #ffffff;
  width: 24%;
  margin: 40px;
  padding: 40px;
}

.certification-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* padding: 40px; */
}

.certification-title,
.certification-details div {
  line-height: 56px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.certification-title {
  font-weight: bold;
  font-size: 48px;
}

.certification-details div {
  font-weight: 200;
  font-size: 40px;
}

@media screen and (max-width: 1150px) {
  .certification {
    margin: 20px;
    padding: 20px;
  }
  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    font-size: 36px;
  }
  .certification-details div {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .certification {
    margin: 20px;
    padding: 20px;
  }

  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    line-height: 42px;
    font-size: 27px;
  }
  .certification-details div {
    line-height: 42px;
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  .certification {
    margin: 2vw;
    padding: 2vw;
  }

  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    line-height: 26px;
    font-size: 20px;
  }
  .certification-details div {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .certification {
    margin: 2vw;
    padding: 1.4vw;
  }

  .certification-details {
    margin-top: 10px;
  }

  .certification-title {
    line-height: 20px;
    font-size: 15px;
  }
  .certification-details div {
    line-height: 22px;
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .certification {
    width: 92%;
    margin: 2vw 0 2vw 0;
    padding: 4%;
  }

  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    line-height: 24px;
    font-size: 20px;
  }
  .certification-details div {
    line-height: 24px;
    font-size: 18px;
  }
}
