#top-nav {
  position: fixed;
  height: 100px;
  width: 96.6vw;
  padding: 0 5vw 0 5vw;
  overflow: hidden;
  align-items: end;
  justify-content: space-between;
  background-color: #ffffff;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#logo,
.top-nav-link {
  line-height: auto;
  cursor: pointer;
}

#logo {
  font-size: 2em;
  font-family: Righteous;
  letter-spacing: 0.08em;
  color: #ff0303;
}

.top-nav-link {
  font-family: Courgette;
  letter-spacing: 0%;
  font-size: 1.5em;
  color: #000000;
  margin-left: 3vw;
}

.top-nav-link:hover {
  opacity: 0.7;
}

#hamburger-menu {
  display: none;
}

@media screen and (max-width: 1150px) {
  #top-nav {
    height: 60px;
  }

  #logo,
  .top-nav-link {
    font-size: 24px;
    line-height: 23px;
  }
}

@media screen and (max-width: 950px) {
  #logo,
  .top-nav-link {
    font-size: 18px;
    line-height: 17px;
  }
}

@media screen and (max-width: 750px) {
  #hamburger-menu {
    display: block;
  }

  #horizontal-menu {
    display: none;
  }

  #top-nav {
    height: 50px;
  }

  #logo,
  .hamburger-nav-link {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    font-size: 14px;
    line-height: 13px;
  }

  .hamburger-nav-link {
    padding: 10px;
    letter-spacing: 0.18em;
  }

  .hamburger-nav-link:hover {
    transition: 0.2s linear;
    font-size: 16px;
    text-decoration: underline;
  }
}
