#top-nav {
  position: fixed;
  height: 100px;
  top: 0;
  width: 97.6vw;
  padding: 0 5vw 1.2vw 5vw;
  overflow: hidden;
  align-items: end;
  justify-content: space-between;
  background-color: #ffffff;
  transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo,
.top-nav-link {
  line-height: auto;
  cursor: pointer;
}

#logo-icon {
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

#logo,
#horizontal-menu {
  height: 48px;
}

#logo {
  font-size: 2em;
  font-family: Righteous;
  letter-spacing: 0.08em;
  color: #ff0303;
}

.top-nav-link {
  font-family: Courgette;
  letter-spacing: 0%;
  font-size: 1.5em;
  color: #000000;
  margin-left: 3vw;
}

.top-nav-link:hover {
  opacity: 0.7;
}

#hamburger {
  display: none;
}

@media screen and (max-width: 1150px) {
  #logo-icon {
    width: 36px;
    height: 36px;
  }

  #logo,
  #horizontal-menu {
    height: 36px;
  }

  #logo {
    font-size: 26px;
  }

  .top-nav-link {
    font-size: 24px;
    line-height: 23px;
  }
}

@media screen and (max-width: 950px) {
  #logo-icon {
    width: 36px;
    height: 36px;
  }

  #logo,
  #horizontal-menu {
    height: 36px;
  }

  #logo {
    font-size: 26px;
  }
  .top-nav-link {
    font-size: 18px;
    line-height: 17px;
  }
}

@media screen and (max-width: 750px) {
  #hamburger {
    display: block;
    background-color: #ffffff;
  }

  #horizontal-menu,
  #logo {
    display: none;
  }

  #top-nav {
    height: 60px !important;
    padding: 0 5vw 0 5vw;
    align-items: center;
  }

  .top-nav-link {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
    line-height: 17px;
  }

  .top-nav-link:hover {
    opacity: 1;
    color: #898383;
    transition: linear 0.2s;
  }
}
