#about-section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 610px;
  margin-top: 100px;
}

#my-details {
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px 10px 10px;
  margin-left: 1vw;
  border-right: #000000 solid 2px;
  border-bottom: #000000 solid 2px;
}

#social-links-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px 6px 10px;
  width: 100%;
  height: 84px;
  background-color: #0099ff;
}

#quote {
  width: 143px;
  height: 72px;
  background-color: #ffffff;
  padding: 6px;
  align-items: center;
  justify-content: center;
}

#quote p {
  color: #000000;
  font-family: Roboto;
  font-weight: bold;
  letter-spacing: 0.18em;
  font-size: 1em;
  line-height: 18px;
}

#social-links {
  flex-direction: row;
}

.icon {
  margin: 10px;
  width: 32px;
  height: 32px;
}

.icon:hover {
  cursor: pointer;
}

#name {
  font-family: Comfortaa;
  font-weight: 700;
  letter-spacing: 0%;
  font-size: 3.625em; /*58px*/
  margin-bottom: 10px;
  line-height: 60px;
}

#role {
  text-transform: uppercase;
  font-family: Comfortaa;
  letter-spacing: 0.18em;
  font-weight: 300;
  font-size: 1.586em; /*25.375px*/
  line-height: 59px;
}

#role span a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
}

#role span a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  #name,
  #role {
    letter-spacing: 0.18em;
  }

  #name {
    font-size: 35px;
    line-height: 54px;
  }

  #role {
    font-size: 1.586em; /*25.375px*/
    line-height: 50px;
  }
}

@media screen and (max-width: 950px) {
  #about-section {
    height: 510px;
  }

  #profile-image {
    height: 358px;
    width: 278px;
  }

  #name,
  #role {
    letter-spacing: 0.18em;
  }

  #name {
    font-size: 26px;
    line-height: 40px;
  }

  #role {
    font-size: 20px;
    line-height: 38px;
  }

  #social-links-wrapper {
    padding: 6px;
    height: 74px;
  }

  #quote {
    height: 62px;
  }

  #quote p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 750px) {
  #about-section {
    height: 460px;
  }

  #profile-image {
    height: 308px;
    width: 228px;
  }

  #name,
  #role {
    letter-spacing: 0.18em;
  }

  #name {
    font-size: 24px;
    line-height: 30px;
  }

  #role {
    font-size: 15px;
    line-height: 28px;
  }

  #social-links-wrapper {
    padding: 4px;
    height: 64px;
  }

  #quote {
    height: 56px;
    width: 123px;
  }

  #quote p {
    font-size: 0.6em;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 550px) {
  #about-section {
    height: 380px;
  }

  #profile-image {
    height: 268px;
    width: 208px;
  }

  #name,
  #role {
    letter-spacing: 0.18em;
  }

  #name {
    font-size: 22px;
    line-height: 30px;
  }

  #role {
    font-size: 14px;
    line-height: 28px;
  }

  #social-links-wrapper {
    padding: 4px;
    height: 54px;
  }

  #quote {
    height: 46px;
    width: 103px;
    margin-left: 4px;
  }

  #quote p {
    line-height: 12px;
    font-size: 0.6em;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 6px;
  }
}

@media screen and (max-width: 500px) {
  #about-section {
    height: 510px;
  }

  #about-section-wrapper {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #my-details {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: #000000 solid 2px;
  }

  #profile-image {
    height: 268px;
    width: 208px;
    margin-bottom: 20px;
  }

  #name,
  #role {
    letter-spacing: 0.18em;
    text-align: center;
  }

  #name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  #role {
    font-size: 12px;
    line-height: 28px;
  }

  #social-links-wrapper {
    padding: 4px;
    height: 54px;
  }

  #quote {
    height: 46px;
    width: 103px;
    margin-left: 4px;
  }

  #quote p {
    line-height: 12px;
    font-size: 0.6em;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 6px;
  }
}

@media screen and (max-width: 320px) {
  #about-section-wrapper {
    padding: 6px;
  }

  #name {
    font-size: 18px;
    line-height: 30px;
  }

  #role {
    font-size: 12px;
    line-height: 24px;
  }
}
