.skill {
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: #ffffff;
  /* border: 4px solid #200447; */
  /* border-radius: 8px; */
  width: 100%;
  padding: 1.2vw;
  /* margin: 40px; */
}

.group {
  font-family: "Special Elite";
  line-height: 1.4em;
  font-size: 86px;
}

.my-skill {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  font-family: "Courgette";
  line-height: 40px;
  /* letter-spacing: 0.18em; */
  color: #000000;
  padding-left: 20px;
}

@media screen and (max-width: 1150px) {
  .skill {
    margin: 30px;
  }
  .my-skill {
    font-size: 39px;
    line-height: 50px;
    letter-spacing: 0.18em;
    padding-left: 20px;
  }
}

@media screen and (max-width: 950px) {
  .skill {
    border: 3px solid #200447;
    margin: 15px;
  }
  .my-skill {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.18em;
    padding-left: 20px;
  }

  .check-mark img {
    height: 42px;
  }
}

@media screen and (max-width: 750px) {
  .skill {
    border: 2px solid #200447;
    padding: 2vw;
    margin: 10px;
  }
  .my-skill {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.18em;
    padding-left: 15px;
  }

  .check-mark img {
    height: 32px;
  }
}

@media screen and (max-width: 480px) {
  .skill {
    border: 2px solid #200447;
    border-radius: 6px;
    padding: 2vw;
    margin: 8px;
  }
  .my-skill {
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.18em;
    padding-left: 2vw;
  }

  .check-mark img {
    height: 24px;
  }
}
