.certification {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: 1px solid #ffffff;
  width: 24%;
  margin: 40px;
  padding: 40px;
}

.certification-details {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2vw;
  /* padding: 40px; */
}

.certification-title,
.certification-details p {
  /* line-height: 56px; */
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.certification-title {
  font-weight: 700;
  font-size: 38px;
}

.certification-details p {
  font-weight: 100;
  font-size: 28px;
}

@media screen and (max-width: 1150px) {
  .certification {
    margin: 30px;
    padding: 30px;
  }
  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    font-size: 36px;
  }
  .certification-details p {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .certification {
    margin: 20px;
    padding: 20px;
  }

  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    line-height: 42px;
    font-size: 27px;
  }
  .certification-details p {
    line-height: 42px;
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  .certification {
    margin: 20px;
    padding: 20px;
  }

  .certification-details {
    margin-top: 20px;
  }

  .certification-title {
    line-height: 26px;
    font-size: 20px;
  }
  .certification-details p {
    line-height: 26px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .certification {
    width: 62%;
    margin: 10px;
    padding: 20px;
  }

  .certification-details {
    margin-top: 10px;
  }

  .certification-title {
    line-height: 26px;
    font-size: 20px;
  }
  .certification-details p {
    line-height: 26px;
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .certification {
    width: 92%;
    margin: 10px;
    padding: 10px;
  }

  .certification-details {
    margin-top: 10px;
  }

  .certification-title {
    line-height: 24px;
    font-size: 20px;
  }
  .certification-details div {
    line-height: 24px;
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  .certification-title {
    line-height: 24px;
    font-size: 16px;
  }
  .certification-details div {
    line-height: 24px;
    font-size: 14em;
  }
}
